@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}
.v-enter-from,
.v-leave-to {
  opacity: 0;
}
.shell {
  @apply flex flex-col justify-around w-4/5 gap-4 px-12 py-8 mt-6 border border-gray-200 rounded-md shadow-sm hover:bg-gray-50;
}
.btns {
  @apply p-2 text-base text-gray-700 transition duration-300 bg-transparent border-2 border-gray-100 rounded-md cursor-pointer md:font-semibold font-body hover:bg-gray-200;
}
.links {
  @apply px-2 text-base text-gray-700 transition duration-300 bg-transparent border-2 border-gray-100 rounded-md cursor-pointer md:font-semibold font-body;
}
.btns-safe {
  @apply flex items-center gap-4 p-2 text-base text-gray-700 transition duration-300 bg-transparent border-2 border-green-300 rounded-md cursor-pointer md:font-medium font-body hover:bg-green-400 hover:text-gray-100;
}
.btns-danger {
  @apply flex items-center justify-center w-1/2 gap-4 p-2 text-base text-gray-700 transition duration-300 bg-transparent border-2 border-red-400 rounded-md cursor-pointer dark:text-red-400 dark:hover:text-slate-200 md:font-medium font-body hover:bg-red-500 hover:text-gray-200;
}

.sub-btns {
  @apply flex items-center justify-center w-1/2 gap-4 p-2 mx-auto font-medium transition duration-300 bg-transparent border-2 rounded-md cursor-pointer border-emerald-500 font-body;
}
.input-bar {
  @apply w-2/3 px-5 py-2 transition duration-300 bg-white border-2 border-gray-100 rounded-lg;
}
.tags {
  @apply flex items-center h-4 px-1 py-2 text-xs font-semibold text-gray-700 transition duration-300 border-2 border-gray-300 rounded-lg dark:border-slate-500 dark:text-blue-600 font-body;
}

/* Search buttons */
.search-btns {
  @apply p-4 transition rounded-lg shadow-lg cursor-pointer dark:hover:bg-red-600 bg-cyan-500 dark:bg-red-500 dark:shadow-none shadow-gray-400 hover:duration-300 hover:bg-cyan-600 hover:shadow-gray-200;
}
/* Search header link */
.search-links {
  @apply transition-all ease-in-out border-b-2 border-b-transparent hover:text-gray-600 hover:border-b-indigo-700 hover:duration-300;
}
/* Search input box */
.input-box {
  @apply p-3 px-5 text-base transition duration-300 border-2 rounded-lg outline-none dark:text-slate-400 dark:border-none dark:ring-1 ring-slate-900/5 dark:bg-slate-800 dark:hover:bg-slate-700 w-96 md:w-full bg-gray-50 hover:bg-gray-100 md:text-sm focus:border-blue-300 hover:border-blue-200 hover:scale-x-105 md:rounded-xl md:px-14;
}
/* Dictionary cards */
.dict-cards {
  @apply flex flex-col gap-4 p-3 transition-all ease-in-out rounded-md shadow-md md:w-96 dark:bg-slate-800 bg-gray-50 md:hover:scale-105 hover:duration-300;
}
/* Search_box back navigator */
.search_box_nav {
  @apply relative flex items-center justify-center w-8 h-8 transition border-2 rounded-lg dark:border-slate-800 dark:text-slate-400 md:left-10 hover:border-gray-200 dark:hover:border-slate-600 hover:duration-300;
}
/* Search-Interact icon style */
.icon_style {
  @apply flex items-center w-full p-1 transition border-2 border-gray-200 rounded-lg dark:text-slate-600 dark:border-slate-700 dark:hover:border-gray-500 text-slate-500 hover:border-gray-400 hover:duration-300;
}
.dict_interact_btn {
  @apply flex items-center w-full gap-4 p-1 rounded-md text-slate-200 bg-slate-500 dark:bg-slate-800 hover:bg-gray-600 dark:hover:bg-slate-900;
}

/* Search-results scrollbar/tabs styling */
.tabs {
  @apply text-lg font-semibold text-gray-400 transition-all dark:text-slate-400 dark:hover:text-indigo-700 dark:focus:text-indigo-900 focus:text-indigo-900 hover:duration-300 hover:text-indigo-900;
}
.tabs_active {
  @apply text-lg font-semibold text-indigo-900 transition-all dark:text-indigo-700 dark:hover:text-indigo-600 dark:focus:text-indigo-900 focus:text-indigo-900 hover:duration-300 hover:text-indigo-800;
}

/* Admin page, Sidebar spans */
.side_span {
  @apply flex items-center justify-around gap-1 w-3/5 p-2 mb-4 text-center transition-all border rounded-lg dark:border-slate-600 dark:text-slate-300 dark:hover:bg-slate-800 dark:hover:duration-300;
}
.side_span_active {
  @apply flex items-center justify-around gap-1 w-3/5 p-2 mb-4 text-center border rounded-lg dark:border-emerald-500 bg-emerald-500 text-slate-200 dark:bg-transparent;
}
.side_config {
  @apply flex items-center justify-around text-xs gap-1;
}

/* Admin page, Add quiz dark-theme input styles */
.dark_inputs {
  @apply lowercase input-bar hover:bg-gray-100 hover:border-gray-300 focus:border-gray-300 dark:text-slate-400 dark:border-none dark:ring-1 dark:bg-slate-800 dark:hover:bg-slate-700;
}
.dark_btns {
  @apply flex items-center justify-center w-1/2 gap-4 p-2 mx-auto font-medium transition duration-300 bg-transparent border-2 rounded-md cursor-pointer border-emerald-500 font-body hover:bg-emerald-500 dark:text-emerald-500 dark:hover:text-slate-200 hover:text-slate-100 hover:shadow-md hover:border-transparent;
}

/* Delete component body */
.delete_body {
  @apply flex flex-col justify-around w-full gap-2 px-12 mt-24 transition duration-300 border-2 border-gray-200 rounded-md shadow-sm dark:border-slate-700 dark:bg-slate-900 bg-gray-50 h-1/2 hover:border-2 dark:hover:border-red-500 hover:border-red-300;
}
.delete_btn {
  @apply p-2 text-base text-gray-700 transition duration-300 bg-transparent border-2 border-gray-100 rounded-md cursor-pointer dark:text-slate-300 w-44 dark:border-slate-700 md:font-semibold font-body hover:bg-gray-200 dark:hover:bg-slate-800;
}

/* Error card styling */
.error-card {
  @apply relative w-2/3 m-auto mt-20 text-sm border-2 border-red-700 bottom-20 md:bottom-24 dark:bg-slate-900 dict-cards;
}
